

<!---->
<nav class="navbar navbar-expand-lg  navbar-light  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="w-75" src="/assets/images/logo.png" alt=""/>    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let link of navLinks" class="nav-item">
          <a class="nav-link active me-5" aria-current="page" routerLink ="{{ link.path }}"> {{ link.label }} </a>
         
       
       
      </ul>
      <div class="d-flex">
        <i class="fas fa-calendar-times icon-nav"></i>
        <i class="fas fa-flag-checkered icon-nav "></i>
        <i class="far fa-user-circle icon-nav "></i>
       
        
      </div>
    </div>
  </div>
</nav>
<!---->

<router-outlet></router-outlet>
