<!---->
<div class="container">
  <!--start  section-strategies-->
  <div class="section-strategies">
    <h4 id="strategies" class="title-strategies">strategies</h4>

    <div class="container d-flex flex-wrap justify-content-around me-5 ms-5">
      <div *ngFor="let item of strategies" class="col-md-3">
        <div class="card-item">
          <img class="w-25 h-75 mt-2 ms-2 me-2" [src]="item.icon" alt="" />
          <p class="desc">{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--end  section-strategies-->
  <!-- start section-pilotings-->

  <div class="section-pilotings">
    <h4 class="title">Pilotage</h4>
    <div class="container d-flex flex-wrap justify-content-around me-5 ms-5">
      <div
        *ngFor="let item of pilotings"
        class="col-md-3"
        (click)="navigTo(item.path)"
      >
        <div class="card-item">
          <img class="w-25 h-75 mt-2 ms-2 me-2" [src]="item.icon" alt="" />
          <p class="desc">{{ item.title }}</p>
          <!---->
        </div>
      </div>
    </div>
  </div>
  <!--end  section-pilotings-->
  <!--- start section-qualites-->
  <div class="section-qualites">
    <h4 class="title">Quality</h4>

    <div class="container d-flex flex-wrap justify-content-around me-5 ms-5">
      <div *ngFor="let item of qualites" class="col-md-3">
        <div class="card-item">
          <img class="w-25 h-75 mt-2 ms-2 me-2" [src]="item.icon" alt="" />
          <p class="desc">{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--- end section-qualites-->
</div>

